<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" src="{{ @blog.logo }}" alt="" />
        <h1 class="name">{{ @blog.title }}</h1>
        <h3 class="tagline">Software Developer</h3>
    </div>
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="resume"><i class="fa fa-file-text"></i><a href="/resume">resume</a></li>
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto:mtromanhauser@gmail.com">mtromanhauser</a></li>
            <!-- <li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">0123 456 789</a></li> -->
            <li class="website"><i class="fa fa-globe"></i><a href="#" target="_blank">max.troman.haus</a></li>
            <!-- <li class="linkedin"><i class="fa fa-linkedin"></i><a href="#" target="_blank">linkedin.com/in/alandoe</a></li> -->
            <li class="github"><i class="fa fa-github"></i><a href="https://github.com/mtrom" target="_blank">github.com/mtrom</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/maxtromanhauser" target="_blank">maxtromanhauser</a></li>
        </ul>
    </div>
    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        <div class="item">
            <h4 class="degree">BSE in Computer Science</h4>
            <h5 class="meta">University of Pennsylvania</h5>
            <div class="time">2012 - 2016</div>
        </div>
    </div>
    
    <div class="languages-container container-block">
        <h2 class="container-block-title">Languages</h2>
        <ul class="list-unstyled interests-list">
            <li>English <span class="lang-desc">(Native)</span></li>
            <li>German <span class="lang-desc">(Intermediate)</span></li>
            <li>Mandarin <span class="lang-desc">(Beginner)</span></li>
        </ul>
    </div>
    
    <div class="interests-container container-block">
        <h2 class="container-block-title">Interests</h2>
        <ul class="list-unstyled interests-list">
            <li>Hearthstone</li>
            <li>I need others?</li>
        </ul>
    </div>
</div>
