{{!< default}}
<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
  <div class="summary">
    {{@blog.description}}
  </div>
</section>

<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Software Engineer</h3>
        <div class="time">2016 - Present</div>
      </div>
      <div class="company">Microsoft Corporation, Seattle</div>
    </div>
    <div class="details">
      <p> I work on the Azure Active Directory reporting team in Microsoft's Cloud + Enterprise division, contributing to the reporting data pipeline and UI on the Azure Portal. Some information about the service can be found in <a href="https://blogs.technet.microsoft.com/enterprisemobility/2016/11/08/azuread-weve-just-turned-on-detailed-auditing-and-sign-in-logs-in-the-new-azure-portal/">this blog post</a> or <a href="https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-activity-audit-logs">the feature documentation</a>.</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Head Teaching Assistant</h3>
        <div class="time">2015 - 2016</div>
      </div>
    </div>
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant</h3>
        <div class="time">2013 - 2016</div>
      </div>
      <div class="company">University of Pennsylvania, Philadelphia</div>
    </div>
    <div class="details">
      <p> I worked as a teaching assistant for Introduction to Computer Programming from the fall semester 2013 to my last semester in spring 2016. For my senior year I acted as one of the three head teaching assistants, managing and instructing the staff of around 60. During my tenure, I contributed to many aspects of the course, including the recitation lesson plans, the exam questions, the staffing decisions, the staff grading infrastructure, and homework assignments. </p>
      <p> <a href="http://www.cis.upenn.edu/~cis110/16sp/hw/hw03/caesar.html">Hail, Caesar!</a> was the assignment I as most proud of, which I wrote with help from other staff members. It teaches functions, array and string manipulation, ASCII encoding, and introduced some basic cryptography concepts. </p>
    </div>
  </div>

</section>

<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p> I've highlighted some projects I've worked on. Some for class, some for clubs I was involved with at Penn, and some for myself: </p>
    {{#foreach posts}}
      <div class="item">
        <span class="project-title"><a href="{{url}}">{{title}}</a></span> - <span class="project-tagline">{{excerpt}}</span>
      </div>
    {{/foreach}}
</section>
